# Ansible
ansible/inventory/jenkins.ini

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terraform/

# Keys / env
*.pem
*.key
.env
.env.*

# Python
.venv
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Build artifacts
*.tar
